In [ ]:
#Q10) Python Program to merge two lists.

list1=['haseeb','rafey','rehan','haris']
list2=['first','second','third','fourth']
list3= list1+list2
print(list3)

['haseeb', 'rafey', 'rehan', 'haris', 'first', 'second', 'third', 'fourth']

In [ ]:
#Q9) Python Program to calculate factorial.

num1=int(input("Enter any number= "))
factorial=1
for i in range(1,num1+1):
  factorial= factorial*i
print("The factorial of the number ",num1,"is",factorial )

Enter any number5
The factorial of the number  5 is 120

In [ ]:
#Q8) Python program to check if a given character is a vowel or consonant.

vowels=['a','e','i','o','u']
word=str(input("Enter any character= "))
if word==vowels[0]:
  print("Entered character is a vowel")
elif word==vowels[1]:
  print("Entered character is a vowel")
elif word==vowels[2]:
  print("Entered character is a vowel")
elif word==vowels[3]:
  print("Entered character is a vowel")
elif word==vowels[4]:
  print("Entered character is a vowel")
else:
  print("Entered character is a consonant")

Enter any character= t
Entered character is a consonant

In [ ]:
# Q1) Python program to print all odd numbers in a list.

list0= list(range(1,1000,2))
print(list0)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999]

In [ ]:
# Q3) Python program to reverse a list in two ways.

list4=[1,2,3,4,5,6,7,8,9]
reverse1=list4[8::-1] #first method
print(reverse1)
reverse2=list4[-1::-1]#second method
print(reverse2)

[9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Q2) Python program to find the sum of list elements.

list5= [1,2,3,4,5,6,7,8,9,10,11]
add=0
for i in list5:
  add+= i
  print(add)

1
3
6
10
15
21
28
36
45
55
66

In [49]:
# Q4) Python program to find the top two maximum numbers in a list.

list7=[45,23,100,76,98]

#for maximum number in the list:
if list7[0]>list7[1] and list7[0]>list7[2] and list7[0]>list7[3] and list7[0]>list7[4]:
  print(list7[0], "is the maximum number in the list")
elif list7[1]>list7[0] and list7[1]>list7[2] and list7[1]>list7[3] and list7[1]>list7[4]:
  print(list7[1], "is the maximum number in the list")
elif list7[2]>list7[1] and list7[2]>list7[3] and list7[2]>list7[4] and list7[2]>list7[0] :
  print(list7[2], "is the maximum number in the list")
elif list7[3]>list7[0] and list7[3]>list7[1] and list7[3]>list7[2] and list7[3]>list7[4]:
  print(list7[3], "is the maximum number in the list")
elif list7[4]>list7[1] and list7[4]>list7[2] and list7[4]>list7[3] and list7[4]>list7[0] :
  print(list7[4], "is the maximum number in the list")

#for second maximum number in the list:
list7.remove(max(list7))
print(max(list7), " is the second highest number in the list")

100 is the maximum number in the list
98  is the second highest number in the list

In [50]:
#Q5) Write a program in Python to find the second highest number in an integer list.

list7=[543,345,65,767,456,565]

if list7[0]>list7[1] and list7[0]>list7[2] and list7[0]>list7[3] and list7[0]>list7[4] and list7[0]>list7[5]  :
  print('')
elif list7[1]>list7[0] and list7[1]>list7[2] and list7[1]>list7[3] and list7[1]>list7[4]  and list7[1]>list7[5] :
  print('')
elif list7[2]>list7[1] and list7[2]>list7[3] and list7[2]>list7[4] and list7[2]>list7[0] and list7[2]>list7[5]  :
  print('')
elif list7[3]>list7[0] and list7[3]>list7[1] and list7[3]>list7[2] and list7[3]>list7[4]  and list7[3]>list7[5] :
  print('')
elif list7[4]>list7[1] and list7[4]>list7[2] and list7[4]>list7[3] and list7[4]>list7[0]  and list7[4]>list7[5]  :
  print('')
elif list7[5]>list7[1] and list7[5]>list7[2] and list7[5]>list7[3] and list7[5]>list7[0]  and list7[5]>list7[4]  :
  print('')

#for second highest number in the list:
list7.remove(max(list7))
print(max(list7), " is the second highest number in the list")

565  is the second highest number in the list

In [59]:
#Q6) Python program to sort characters in descending order.
list10=[312,43,32,45,56]
list10.sort(reverse=True)
print(list10)

[312, 56, 45, 43, 32]